.time {
  text-align: center;
  padding: 32px;

  /* Fundo: imagem cobrindo tudo sem repetição */
  background-image:  url('/public/imagens/backgroundTriangulos.png'); /* imagem de fundo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* Estilo adicional (se quiser suavizar a sombra no conteúdo) */
  color: white;
  border-radius: 50px;
}


.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;
}