.campo-texto label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 1.125rem; /* 18px */
    font-weight: 600;

}

.campo-texto input {
    width: 94%;
    padding: 16px; /* Mais espaço interno */
    border: 2px solid #fae3c4;
    border-radius: 5px; /* Cantos arredondados */
    background-color: #f0b966;
    font-size: 1rem; /* 16px */
    transition: all 0.3s ease;
}

.campo-texto input placeholder {
    color: #ffffff;
}


.campo-texto input:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.438);
    outline: none;
}